.table-container {
  width: 100%;
  overflow-x: auto;
}

  
  .table {
    margin: 0 auto; 
  }
  
  .table th, .table td {
    text-align: center; 
    padding: 1.5em;
  }
  
  .sentiment-score-table {
    flex: 1;
    padding: 0 20px;
    min-width: none;
  }

  table th, .table td {
    padding: 1.5em; /* Adjust padding as needed */
    /* Set a minimum width to each cell. You can adjust this value as needed */
    min-width: 250px;
  }