html, body {
  background-color: #1c1c1c;
  height: 100%;
  margin: 0;
  padding: 0;
}

.patient-convo {
  margin: 20px;
  padding-top: 40px; 
  padding-bottom: 40px;
  padding-left: 20px; 
  padding-right: 20px;
  background-color: #2a2a2a;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.convo-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.convo-input {
  margin: 20px 0;
}

.convo-input input {
  width: 80%; 
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}


.header {
  background-color: #363636;
  padding: 10px 85px;
  text-align: left;
}

.title {
  color: #FFFFFF; 
  font-size: 1.7rem;
}

.columns {
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.is-2-5 {
  flex: none;
  width: 20.83%;
}

.column.is-6-5 {
  flex: none;
  width: 54.1666667%;
}

.column.is-3{
  padding-right: 0; 
}

.section.no-padding-right {
  padding-right: 0; /* Removes padding from the right */
}

.column.is-3.negative-margin {
  margin-left: -1.5rem; /* You can adjust this value as needed */
}